/* Estilos originales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(64, 89, 115, 0.9); /* Color de cintillo */
    color: #ffffff; /* Color del texto */
    padding: 20px;
    display: flex;
    align-items: center;
}

.university-logo {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 20px; /* Espacio entre el logo y el contenido del banner */
}

.header-content {
    flex: 1; /* El contenido del banner ocupa todo el espacio restante */
}

.container {
    display: flex;
    flex-direction: row;
}

/* Estilos para el índice */
.index {
    width: 200px; /* Ancho del índice */
    background-color: #34495e; /* Color de fondo del índice */
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #ffffff; /* Color de enlaces del índice */
}

.content {
    flex: 1; /* El contenido ocupa todo el espacio restante */
    padding: 20px;
    margin-top: 20px; /* Espacio entre el índice y el contenido */
}

/* Estilos para el pie de página */
footer {
    background-color: rgba(44, 62, 80, 0.7); /* Color de fondo del footer con transparencia */
    color: #ffffff; /* Color del texto */
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
